version: "3.8"

services:
  backend:
    build: ./backend
    container_name: healtrack-backend
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: healtrack-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

  admin:
    build: ./admin
    container_name: healtrack-admin
    ports:
      - "5174:5174"
    depends_on:
      - backend

  mongo:
    image: mongo:6
    container_name: healtrack-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
